//EJEMPLOSSSSSSSSSSSSSSSSSSSSSSSS DE USO DE WIDTH, HEIGHT
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
  }


  .icon {
    @include size(32px);
  }
  
  .cover {
    @include size(100%, 10em);
  }
//EJEMPLOSSSSSSSSSSSSSSSSSSSSSSSS DE USO DE WIDTH, HEIGHT

//USO DEL MIXIN
@mixin center() {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container {
    @include center();
  }
  

  
  .image-cover {
    @include center;
  }
  //USO DEL MIXIN


